@tailwind base;
@tailwind components;
@tailwind utilities;

.default {
  @apply border-gray-300;

  &:hover,
  &:focus {
    @apply border-blue-500 bg-blue-100 text-blue-500;
  }

  &.plain {
    @apply bg-white;
  }
}

$themeTypes: (
        primary:'blue',
        success:'green',
        warning:'yellow',
        danger:'red',
        info:'gray'
);

@each $key, $value in $themeTypes {
  .#{$key} {
    @apply border-#{$value}-500 bg-#{$value}-500 text-white;
  }

  .#{$key}.plain {
    @apply border-#{$value}-500 bg-#{$value}-100 text-#{$value}-500;
  }

  .#{$key},
  .#{$key}.plain {
    &:hover,
    &:focus {
      @apply border-#{$value}-400 bg-#{$value}-400 text-white;
    }
  }
}

.round {
  border-radius: 9999px !important;
}

.text {
  @apply text-blue-500 border-white bg-white;

  &:hover,
  &:focus {
    @apply text-blue-600;
  }
}


.t-button {
  @apply text-base rounded-sm px-3 py-1  border;
}

.t-button:focus {
  @apply outline-none;
}

.t-button + .t-button {
  @apply ml-2;
}

